<div class="container-fluid mt-5 about-style" id="skillid">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <h1 class="text-center main-heading">Skill Set</h1>
      <p class="text-center sub-heading">Technologies Used in my projects.</p>
      <div class="row">
        <div class="col-md-4">
          <div class="box">
            <div class="our-services settings">
              <div class="icon">
                <img
                  src="images/html5.png"
                  width="180"
                  height="90"
                  alt="html 5"
                />
              </div>
              <h4>HTML 5</h4>
              <p>HTML 5 is used for structing the Pages and is used in this
                project.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box">
            <div class="our-services ssl">
              <div class="icon">
                <img
                  src="images/nj1.png"
                  width="100"
                  height="90"
                  alt="nodejs"
                />
              </div>
              <h4>NODE JS</h4>
              <p>Node.js for back-end JavaScript runtime environment.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box">
            <div class="our-services privacy">
              <div class="icon">
                <img src="images/md.png" width="90" height="90" alt="mongodb" />
              </div>
              <h4>MONGO DB</h4>
              <p>MongoDB is a source-available cross-platform document-oriented
                database program.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box">
            <div class="our-services backups">
              <div class="icon">
                <img src="images/css3.png" width="100" height="90" alt="css3" />
              </div>
              <h4>CSS 3</h4>
              <p>CSS is the language we use to style an HTML document.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box">
            <div class="our-services speedup">
              <div class="icon">
                <img
                  src="images/ejs.png"
                  width="120"
                  height="90"
                  alt="expressjs"
                />
              </div>
              <h4>EXPRESS JS</h4>
              <p>Express provides a robust set of features for web and mobile
                applications.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box">
            <div class="our-services database">
              <div class="icon">
                <img
                  src="images/bootstrap.jpg"
                  width="100"
                  height="90"
                  alt="bootstrap"
                />
              </div>
              <h4>BOOTSTRAP</h4>
              <p>Bootstrap utilizes Sass for a modular and customizable
                architecture.
              </p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>